table{width: 100%;
    }

body
{
    margin: 0;
}

td
{
    background-color: #313131;
    width: 10%;
    height: 10%;
}
.sms{color: rgb(255, 255, 255);
font-size: 66px;
text-align: center;}

.chapeu{text-align: center;background-color: #757575;} 

.menu{text-align: center;background-color: #757575;}

.qm{text-align: center;color: #313131;text-decoration: none;}
.qm1{background-color: #757575;}

.pr{text-align: center;color: #313131;text-decoration: none;}
.pr1{background-color: #757575;}

.cn{text-align: center;color: #313131; text-decoration: none;}
.cn1{background-color: #757575;}

.lupa{text-align: center;background-color: #757575;}

.mundo{text-align: center; background-color: #757575;}

.perfil{text-align: center; background-color: #757575;}

.claro{background-color: #757575;width: 20%;}

.quemsomos{text-align: center; font-size: 400%; color: white;
}

.tx{text-align: center ;font-size: 200%; color: white;}
.tx2{text-align: center; font-size: 200%; color: white;}

.image-button {background-color: #757575; border: none; cursor: pointer; padding: 0; text-align: right;}

.l{height: 5vh;}
.p{height: 14.5vh;}